@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
:root{
    --font1: 'Lexend Deca', sans-serif;
    --font2: 'Big Shoulders Display', cursive;

    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */

    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100vh;
    background-color: var(--very-light-gray-background-headings-buttons);
}

.card{
    width: 50%;
    /* max-width: 1000px; */
    height:60vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 5px;
    color: var(--transparent-white-paragraphs);
    font-size: .7rem;
}

.card__section{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 50px 30px;
    background-position: 2rem 2rem;
    padding: 2rem 2rem 1rem;
    padding-top: 4rem;
    text-align: left;
    gap: 10px;
    justify-content: space-evenly;
}

.sendans{
    background-color: var(--bright-orange);
    background-image: url("../images/icon-sedans.svg");
    border-radius: 5px 0 0 5px;
}

.suvs{
    background-color: var(--dark-cyan);
    background-image: url("../images/icon-suvs.svg");
}

.luxury{
    background-color: var(--very-dark-cyan);
    background-image: url("../images/icon-luxury.svg");
    border-radius: 0 5px 5px 0;
}

.card__title{
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font2);

}

.card__paragraph{
    line-height: 1.5;
    font-family: var(--font1);
    font-size: .75rem;
    color: var(--transparent-white-paragraphs);
}

.card__cta{
    text-decoration: none;
    display: block;
    padding: 12px 27px;
    align-self: flex-start;
    background-color: var(--very-light-gray-background-headings-buttons);
    border-radius: 20px;
    text-align: center;
    margin-top: 3rem;
    font-family: var(--font1);
}

.button__sendans{
    color: var(--bright-orange);
}

.button__suvs{
    color: var(--dark-cyan);
}

.button__luxury{
    color: var(--very-dark-cyan);
}

.card__cta:hover{
    background-color: transparent;
    color: white;
    border: 2px solid var(--very-light-gray-background-headings-buttons);
    padding: 10px 25px;
}

@media(max-width:768px){

    .card__section{
        padding-bottom: 30px;
    }

    .sendans{
        border-radius: 5px 5px 0 0;
    }

    .luxury{
        border-radius: 0 0 5px 5px;
    }

    .card__cta{
        margin-top: 1rem;
    }
}